div{


    border-radius: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

h1{

    border-radius: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eb5757;
    color: rgba(255, 255, 254, 0.575);
    text-align: center;
}

form{

  
   
    margin: 10px;
    padding: 10px;
}
input{

    margin: 4px;

    width: max-content;
    
    height: 25px;
    border-radius: 23px;
font-size: 1rem;

border: 2px solid rgba(5, 11, 59, 0.959);
    
}

label{
padding: 20px 20px;

color: #f7f6f4b9;

}

button{
    background-color: rgb(230, 117, 11);
    color: #f8f4f5;
    margin: 7px;
    padding: 10px;
    border-radius: 15px;

    
}

body{
    background-image:url("https://academy.avast.com/hubfs/New_Avast_Academy/Hackers/Hacker-Thumb-a1.png")

}